body {
    background-color: #383838;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #464646;
   }
   .barner {
    margin:0 auto;
    height: 80px;
    width: 70%;
    max-width:1100px;
   }
   .left{
    float: left;
    color: #00A2D4;
   }
   .right{
    float: left;
    margin: 30px 0 0 250px;
   }
   #select_text {
    padding:3px 6px;
    padding-left:10px;
    border:1px solid #000000;
    width:230px;
    height:25px;
    line-height:25px;
    border-left:3px solid #3FB7EB;
    background:#ffffff;
    border-radius:2px;
   }
   #select_file{
    border:0px;display:none;
   }
   #select_btn{
    color:#00A2D4;
    padding:4px 6px;
    border:1px solid #00A2D4;
    border-radius:2px;
    text-decoration: none;
   }
   .content {
    margin:50px auto;
    height: 80px;
    width: 70%;
    max-width:1100px;
   }
   table
   {
    border-collapse :collapse ;
    margin:0 auto;
   }
   th
   {
    width:100px;
    height:25px;
    border :1px solid rgb(0, 0, 0);
    font-size:12px;
    text-align :center;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
   }
   td
   {
    width:200px;
    border :1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-size:12px;
    text-align :left;
   }
   #column
   {
       background-color: #ffffff;
   }
   #chart
   {
    border-collapse :collapse ;
    margin:0 auto;
   }